.navigationBar { 
	background-color:rgba(245.00000059604645, 225.00000178813934, 52.000000700354576, 1);
	border: radius 5px;
	width:100%;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}
.navbar-custom {
    background-color:rgba(245.00000059604645, 225.00000178813934, 52.000000700354576, 1);
}

.navbar-custom .navbar-brand{
    color: rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
    margin-top: 10px;
	
}
.navbar-custom .navbar-text {
    color: white;
}
.websiteName { 
	font-family:Gill Sans MT;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.otherInfo { 
    color:rgba(255, 255, 255, 1);
    margin-top: 40px;
	width:76px;
	height:27px;
	font-family:Comfortaa;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.navbar {
    min-height: 80px;
}