* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('../images/homeBackground.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.NavBar{
	background-color: #04407e;
	height:70px;
}
#logo{
    position: relative;
    float: left;
    padding: 35px 35px 35px 35px;
    background-color: yellow;
}
#websiteName{
    float: left;
    position: relative;
    padding: 35px 100px 35px 50px;
    background-color: green;
}
#optionsList{
    float: right;
    height: 70px;
    padding: 0px 50px 0px 100px;
    background-color: red;
    position: relative;
}
#menu li{
    display: inline;
}
#welcomeMessage{
    position: relative;
    margin-left: 25%;
    margin-top: 15%;
}