body{
    margin: 0%;
    background-color: beige;
}

.pic{
    margin: 5% 25% 50px;
    padding: auto;
    padding-bottom: 5%;
    text-align: center;
    border-bottom: 1px solid blue;
}
.marginforpanel{
    margin: 2px 25%;
}