body {
  width: 100%;
  height:100%;
  background-image: url(../images/background.jpg);
}

.content {
  text-align: center;
  margin-top: 15%;
  font-size: 25px;
  width: 70%;
  margin-left: 130px;
  color: #e4efe7;
}

p {
  font-family: 'Abel', sans-serif;
}

h1 {
  font-family: 'Noto Sans HK', sans-serif;
  font-family: 'Orbitron', sans-serif;
}

.inner-layer {
  position: absolute;
  width: 100%;
  height:100%;
  background-color: rgba(108, 163, 235, 0.9);
  overflow:auto;
}

.form-data {
  margin-top: 15%;
  background-color: #ffffff;
}

.no-margin {
 padding: 20px 40px 20px 40px;
}

div {
  margin-top:5px;
}

.moveit {
  margin-left: 6px;
  width: 100%;
  color: #0C4271;
}

h3 {
font-family: 'Noto Sans HK', sans-serif;
margin-left: 20px;
}


.form-controlx {
  background-color: #f7f7ff;
  box-shadow: none;
  border:  1px #0C4271;

}

.big-box {
  background-color: #e4efe7;
  border: 2px solid #0C4271;
  border-radius: 30px;
}

.appointment-button {
  width: 100%;
}

.date {
  margin-left: 2px;
  border-radius: 5px;
  border:none;
}
